# APP_ID is the numerical ID of your GitHub App, which you can find on the app's settings page.
APP_ID="1234567"
# APP_PRIVATE_KEY is the RSA private key associated with your GitHub App, which you can generate and download 
# from the app's settings page. Paste the key as a multi-line-string
APP_PRIVATE_KEY="------BEGIN RSA PRIVATE KEY----
nMIIEo...
sdfkjnjksf....
-----END RSA PRIVATE KEY-----"

## APP_CLIENT_ID and APP_CLIENT_SECRET are the OAuth client ID and secret for your GitHub App, 
## which you can find on the app's settings page under "OAuth & Permissions". These are used for authentication when making API requests on behalf of the app.
#APP_CLIENT_ID="Iv2..."
#APP_CLIENT_SECRET="c71..."